body{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    max-width: ;
}

img{
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
   
}

header{
    display: flex;
    justify-content: flex-start;
    
}

nav{
    color:#f4f3ef;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap:40px;
}



färger: 

#211612
#8565d6